body {
  background: rgb(14, 14, 14);
  color: white;
}

#champions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.champion {
  text-align: center;
}
.champion p {
  margin-top: 1px;
  font-family: "Poppins", sans-serif;
}
.champion img {
  margin: 3px;
}
.champion a:hover img {
  margin: 0;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}